Repository BillieWintheiser/CarbonEmissionTracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, solhint --fix

chore: create .prettierignore
  .prettierignore
Due: none

chore: update .prettierrc.json
  .prettierrc.json
Due: prettier --write

chore: update .prettierrc.yml
  .prettierrc.yml
Due: prettier --write

feat: add new features: .solcover
  .solcover.cjs
Due: none

chore: update .solhint.json
  .solhint.json
Due: prettier --write

chore: create .solhintignore
  .solhintignore
Due: none

docs: update API documentation
  API.md
Due: prettier --write

docs: update ARCHITECTURE documentation
  ARCHITECTURE.md
Due: prettier --write

docs: update DEPLOYMENT documentation
  DEPLOYMENT.md
Due: prettier --write

docs: update ENHANCEMENT_SUMMARY documentation
  ENHANCEMENT_SUMMARY.md
Due: prettier --write

feat: add new features: hardhat.config
  hardhat.config.cjs
Due: none

feat: add new features: hardhat.config
  hardhat.config.js
Due: eslint --fix, prettier --write

docs: update LICENSE documentation
  LICENSE
Due: none

chore: update package-lock.json
  package-lock.json
Due: prettier --write

feat: add new features: postcss.config
  postcss.config.cjs
Due: none

docs: update README
  README.md
Due: prettier --write

feat: add new features: tailwind.config
  tailwind.config.js
Due: eslint --fix, prettier --write

docs: update TEST_SUMMARY documentation
  TEST_SUMMARY.md
Due: prettier --write

docs: update TESTING documentation
  TESTING.md
Due: prettier --write

build: update tsconfig.json
  tsconfig.json
Due: prettier --write

build: update vite.config.js
  vite.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{json,md,yml})) or (any of: *.sol)
  solhint --fix: any of: *.sol
